* {
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  margin: 0;
}

body {
  text-align: center;
  background-color: hsl(185, 58%, 96%);
}

.header {
  background-color: hsl(179, 29%, 51%);
  height: 156px;
  background-position: center;
}


.list-container {
  max-width: 1440px;
  padding: 2rem 10rem 0rem 10rem;
  margin: 0px auto;
}

.logo {
  width: 4rem;
  height: 4rem;
  background-size: cover;
}

.job-list {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: hsla(180, 8%, 52%, 0.415) 0px 5px 20px;
  margin: 0rem auto 2rem auto;
  padding: 1.5rem 2rem;
  width: 50rem;
  border-radius: 5px;
}

.left-container {
  display: flex;
  align-items: center;
}

.detail-container {
  padding-left: 1rem;
}

.company-text {
  display: flex;
  align-items: center;
}

.company-text p {
  margin-bottom: 1rem;
}

.company {
  color:hsl(180, 29%, 50%);
  margin-top: 0px;
  font-size: 0.9375rem;
}

.new {
  background-color: hsl(180, 29%, 50%);
  color: #fff;
  border-radius: 10px;
  padding: .3rem 0.5rem;
  line-height-step: .5rem;
  font-size: 0.5rem;
  margin-top: 0px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature {
  color: #fff;
  background-color: black;
  border-radius: 10px;
  margin-top: 0px;
  font-size: 0.5rem;
  padding: .3rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.position {
  font-weight: 800;
  text-align: left;
  margin: 0px;
  margin-bottom: 1rem;
  cursor: pointer;
}
.position:hover {
  color: hsl(180, 29%, 50%);
}

.sub-detail {
  display: flex;
}
.sub-detail p {
  color: hsl(210, 1%, 60%);
  font-size: 0.75rem;
  margin: 0px;
}
.sub-detail p:nth-child(2n) {
  padding: 0rem .5rem 0rem .5rem;
}

.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-container button {
  color: hsl(179, 29%, 51%);
  background-color: hsl(160, 25%, 95%);
  border-color: transparent;
  padding: 0.25rem;
  margin-left: 0.75rem;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

.right-container button:hover {
  background-color: hsl(179, 29%, 51%);
  color: #fff;
}


.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: hsla(180, 8%, 52%, 0.415) 0px 5px 20px;
  padding: 1.5rem 2rem;
  width: 50rem;
  border-radius: 5px;
  transform: translateY(-4rem);
  margin: 0 auto;
}

.select-text {
  display: flex;
}
.left-select {
  gap: 1rem;
}
.text {
  color: hsl(179, 29%, 51%);
  background-color: hsl(160, 25%, 95%);
  border-color: transparent;
  padding: .75rem .5rem;
  height: 1.5rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.x {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(179, 29%, 51%);
  color: hsl(160, 25%, 95%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: transparent;
  height: 1.5rem;
  cursor: pointer;
}
.x:hover {
  background-color: hsl(176, 18%, 19%);
}

.x img {
  object-fit: cover;
  width: 0.9375rem;
  height: 0.93575rem;
}

.clear {
  color: hsl(179, 29%, 51%);
  cursor: pointer;
}
.clear:hover {
  text-decoration: underline;
}


@media screen and (max-width: 1140px) {
  .list-container {
    padding: 2rem 1rem 0rem 1rem;
  }
}

@media screen and (max-width: 830px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 10px;
  }

  .job-list {
    flex-direction: column;
  }

  .right-container {
    margin-top: 1.5rem;
    border-top: 1px solid hsl(150, 2%, 76%);
    padding-top: 1.5rem;
  }
}

@media screen and (max-width: 530px) {
  .job-list {
    width: 40rem;
  }
  .select {
    height: fit-content;
    width: 40rem;
  }
  .text, .x {
    height: 2.5rem;
  }

  .x {
    width: 2.5rem;
  }

  .logo {
    width: 4rem;
    height: 4rem;
  }
}

@media screen and (max-width: 425px) {

  .header {
    background-image: url('../public/images/bg-header-mobile.svg') !important;
  }

  .list-container {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    transform: translateY(-57px);
    position: absolute;
  }

  .job-list {
    padding-top: 3rem;
    margin-top: 2.5rem;
    width: 30rem;
  }

  .company {
    margin-right: 1.5rem;
  }
  .select {
    margin-bottom: 4rem;
    transform: translateY(-10rem);
    position: absolute;
    width: 30rem;
  }

  .left-select {
    gap: 1rem;
  }

  .clear {
    margin-left: .5rem;
  }

}